# Database
DATABASE_URL="postgresql://user:password@localhost:5432/tum2026?schema=public"

# NextAuth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# Microsoft Entra ID (Azure AD)
AUTH_MICROSOFT_ENTRA_ID_ID="your-azure-app-client-id"
AUTH_MICROSOFT_ENTRA_ID_SECRET="your-azure-app-client-secret"
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID="your-azure-tenant-id"
